<div class="kui-flex-wrap">
  <style>
    .spacer {
      width: 98%;
      height: 80%;
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size:80%;
      border-bottom: 2px solid #320374;
    }
  </style>
  <ul class="kui-list kai-container">
    {{#channels}}
    <li class="channelNav">
      <div class="spacer">
        <div style="font-weight:bold;">{{ name }}</div>
        <div>{{ country }}</div>
        <div>{{ lang }}</div>
      </div>
    </li>
    {{/channels}}
  </ul>
</div>
