<div class="kui-flex-wrap">
  <style>
    .kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}
    .mt {margin-top: 8px;}
  </style>
  <div class="kai-container" style="padding:5px;font-size:85%;">
    <div>1) Some 1080p video won't playing the audio/video properly due to codec issues</div>
    <div class="mt">2) The Loading Indicator on top indicate the player is buffering the data from iptv server</div>
    <div class="mt">3) If the Loading Indicator keep buffering but won't playing the audio/video, probably the channel is not available on your region</div>
    <div class="mt">4) Use Arrow Up/Down adjust volume</div>
  </div>
</div>
