<div class="kui-flex-wrap">
  <style>
    .kui-header {
      height:0px;
      margin-bottom: 0px;
    }
    .kui-router-m-top {
      margin-top: 0!important;
    }
    #__kai_router__{
      height:264px!important;
    }
    .kai-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: #000000;
    }
    .fullscreen {
      transform: rotate(90deg);
      position: relative !important;
      max-width: 264px !important;
      width: 264px !important;
      height: 292px !important;
    }
    .fullscreen-r {
      height:294px!important;
    }
  </style>
  <div class="kai-container">
    <video id="vplayer"></video>
  </div>
</div>
