<div class="kui-flex-wrap">
  <style>
    .kui-header {
      height:0px;
      margin-bottom: 0px;
    }
    .kui-router-m-top {
      margin-top: 0!important;
    }
    #__kai_router__{
      height:264px!important;
    }
    .kai-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: #000000;
    }
    /* KaiOS landscape devices (320x240) */
    @media screen and (orientation: landscape) {
      .kai-container {
        height: 80%;
      }
    }
  </style>
  <div class="kai-container">
    <video id="vplayer"></video>
  </div>
</div>
